<div class="suppliers-page">
  <div class="suppliers-content">
    <app-dashboard-header
      title="Supplier Management"
      subtitle="Module to manage suppliers and related actions">
    </app-dashboard-header>
  </div>
</div>

<div class="supplier-details-shell">
  <!-- Back and title row -->
  <div class="details-topbar">
    <button class="back-btn" (click)="goBack()">← Back to list</button>

    <div class="title-row">
      <div class="title-left">
        <h1 class="company-name">{{ finding?.title || 'Title' }}</h1>
        <div class="subtitle">
          <div class="badges">
            <app-badge [variant]="getCategoryBadgeVariant(finding.categoryId)">
                    {{ getCategoryBadgeText(finding.categoryId) }}
                  </app-badge>
                  <app-badge [variant]="getStatusBadgeVariant(finding.statusId)">
                    {{ getStatusBadgeText(finding.statusId) }}
                  </app-badge>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Card -->
  <app-card class="details-card">
    <app-card-content>
      <div class="detail-grid">

        <div class="field">
          <div class="label">Description : </div>
          <div class="value">{{ finding?.description || '-------' }}</div>
        </div>

        <div class="field">
          <div class="label">DueDate : </div>
          <div class="value">{{ finding?.dueDate | date }}</div>
        </div>

        <div class="field">
          <div class="label">Progress : </div>
          <div class="value">
            {{ finding?.progressPercent }} %
          </div>
        </div>

        <div class="field">
          <div class="label">Category</div>
          <div class="value">{{ getCategoryBadgeText(finding.categoryId) }}</div>
        </div>

        <div class="field">
          <div class="label">Status : </div>
          <div class="value">
            {{ getStatusBadgeText(finding.statusId) }}
          </div>
        </div>

        <div class="field">
          <div class="label">Assigned By : </div>
          <div class="value">{{ getAssigneeName(finding.assigneeId) }}</div>
        </div>
    </div>
    </app-card-content>
  </app-card>
</div>
